.container {
  position: absolute;
  z-index: 1;
  background: linear-gradient(to right bottom, #000000, #231f20);
  // text-align: center;
  width: 100vw;
  height: 100vh;

  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  font-size: 3rem;

  // @media screen and (max-width: 900px) {
  //   font-size: 5rem;
  // }
  // @media screen and (max-width: 420px) {
  //   font-size: 4rem;
  // }
}

// font-family: 'Lora', Georgia, times, serif;
