.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;

  h1 {
    position: absolute;
    z-index: 3;
  }

  .overlay {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
  }

  .container {
    position: absolute;
    z-index: 1;
    // text-align: center;
    height: 20rem;
    width: 20rem;

    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3rem;
    border-radius: 50%;
    // @media screen and (max-width: 900px) {
    //   font-size: 5rem;
    // }
    // @media screen and (max-width: 420px) {
    //   font-size: 4rem;
    // }

    background: #9769c9;

    :hover {
      cursor: pointer;
    }
  }
}
