.navContainer {
  height: 100vh;
  width: 200px;
  overflow: hidden;
  right: 0;
  position: fixed;
  z-index: 100;

  .toggle {
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    right: 15px;
    top: 15px;
    background-color: #e9e9e9;

    &:hover {
      cursor: pointer;
    }

    .lines {
      z-index: 100;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .line {
        width: 35px;
        border-radius: 20%;
        height: 5px;
        background-color: #231f20;
      }
    }
  }

  .fakeBackground {
    position: absolute;
    z-index: 1;

    width: 70px;
    height: 70px;
    border-radius: 50%;
    right: 15px;
    top: 15px;
    background-color: #e9e9e9;
  }

  .listContainer {
    position: absolute;

    // left: 50px;
    text-align: center;
    font-size: 3rem;
    line-height: 70px;

    width: 100%;
    height: 250px;
    z-index: 3;
    top: 100px;
  }

  .list {
    list-style-type: none;
    transition: background-color 0.6s;

    .listItem {
      &:hover {
        cursor: pointer;
        background-color: #e5143c;
      }
    }
  }
}
