.father {
  overflow-x: hidden;

  .semiFather {
    width: 100vw;
    height: 500vh;
    background: #231557;
    background: -moz-linear-gradient(
      165deg,
      #000000 0%,
      #5a5758 33.33%,
      #e5143c 66.66%,
      #550510 100%
    );
    background: -webkit-linear-gradient(
      165deg,
      #000000 0%,
      #5a5758 33.33%,
      #e5143c 66.66%,
      #550510 100%
    );
    background: linear-gradient(
      165deg,
      #000000 0%,
      #5a5758 33.33%,
      #e5143c 66.66%,
      #550510 100%
    );
  }
}

// font-family: 'Hind Madurai', sans-serif;
// font weight 300

// font-family: 'Lora', serif;
// font weitght normal

// font-family: 'Montserrat', sans-serif;
