.container {
  width: 60%;
  height: 45vh;

  position: absolute;
  display: flex;
  top: 15vh;
  @media screen and (max-width: 480px) {
    width: 100%;
  }
  form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: column;
    border-radius: 10px;

    width: 100%;

    textarea {
      width: 100%;
      padding: 7px 7px;
      font-size: 3vh;
      outline: none;
      border-radius: inherit;
      font-family: "Hind Madurai", sans-serif;
      border-style: none;
      height: 30vh;
      margin-bottom: 0.7vh;
      @media screen and (max-width: 480px) {
        width: 98%;
      }
    }

    button {
      font-size: 3vh;

      padding: 1.4vh 0;
      border-radius: inherit;
      border-style: none;
      outline: none;
      color: white;
      background-color: #231f20;
      width: 50%;
      @media screen and (max-width: 480px) {
        width: 99%;
      }
      &:hover {
        cursor: pointer;
      }
    }

    .nameEmail {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      //   @media screen and (max-width: 480px) {
      //     flex-direction: column;
      //   }

      .name {
        padding: 1vh;
        width: 49%;
        font-size: 3vh;
        border-style: none;
        font-family: "Hind Madurai", sans-serif;
        outline: none;
        border-radius: 10px;
        margin-bottom: 0.7vh;
        @media screen and (max-width: 480px) {
          width: 100%;
          margin-left: 0.5vh;
          margin-right: 0.5vh;
        }
      }
      .email {
        padding: 1vh;
        width: 49%;
        font-size: 3vh;
        border-radius: 10px;
        font-family: "Hind Madurai", sans-serif;
        border-style: none;
        outline: none;
        margin-bottom: 0.7vh;

        @media screen and (max-width: 480px) {
          width: 100%;
          margin-left: 0.5vh;
          margin-right: 0.5vh;
        }
      }
    }
  }
}

// font-family: 'Hind Madurai', sans-serif;
// font weight 300

// font-family: 'Lora', serif;
// font weitght normal

// font-family: 'Montserrat', sans-serif;
